.square {
  display: table;
  height: 10px;
  width: 10px;
  background: white;
  border: 1px solid black;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  font-size: 5px;
}

.square:focus {
  outline: none;
}

.display-flex {
  display: flex;
}

.game-info {
  font-size: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;  
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info button {
  height: 10px;
  width: 80px;
  font-size: 5px;
  padding: 0;
  margin: 2px;
  text-align: center;
}

.game-info ol {
  padding: 0;
  margin: auto;
}

.game-description {
  font-size: 4px;
  color: darkgray;
  margin: 5px;
  margin-left: 0;
}

.bold {
  font-weight: bold;
}